html {
  width: 100%;
  height: 100%;  
  overflow: hidden;
  padding: 0;
  margin: 0;
  outline: 0;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #e0dad2;
  border: 30px solid #a2998c;
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Lucida Grande', Arial;
  font-weight: bold;
  font-size: 50px;
  font-size: 7vw;
  color: #a2998c;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

/* Main Components */
#container {
  width: 100%;
  height: 100%;
  text-align: center;
}
.button{
  background: #a2998c;
  border: none;
  outline: 0;
  padding: 20px 50px;
  margin: 0;
  font-family: 'Lucida Grande', Arial;
  font-weight: bold;
  font-size: 40px;
  font-size: 5vw;
  color: #e0dad2;
  border-radius: 5px;
  width: 92%;
  margin: 20px 0;
}
.button:hover {
  background: #91887b;
  cursor: pointer;
}
.button[disabled] {
  pointer-events: none;
  opacity: 0.5;
}
#logo {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTExIDc5LjE1ODMyNSwgMjAxNS8wOS8xMC0wMToxMDoyMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUgKE1hY2ludG9zaCkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6Mjg5MUYwNDBCRUY0MTFFNUJCQ0JDMjc0MDg4QjEwMTIiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6Mjg5MUYwNDFCRUY0MTFFNUJCQ0JDMjc0MDg4QjEwMTIiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoyODkxRjAzRUJFRjQxMUU1QkJDQkMyNzQwODhCMTAxMiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoyODkxRjAzRkJFRjQxMUU1QkJDQkMyNzQwODhCMTAxMiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pv3J1C0AABEnSURBVHja7F1LkxvVFT6SWo8Zad7j8Xg8GGyeoUh4BEIIJCmgkg1VqUpl5U0WziKr+KdkwTILFqlKsaKcbBMoCHGKAGUXBEPAxoztseclaawZvUdSd+53+rZGnlE/bqu7Z+SaSx1kW6/u893z+M499ypmGAbtHW+/9eafxcNvhBSFNITE6GgEMaDsjJAZIe+cPXf+t3tfoNm8sSlkVMrRCGc0+/1j3ObFXwpZP9JZaGNd6tgzIMtHgIQOyLIKIN/aveFoBDKWpY49AwIEC0d6C20U7DyQXVCvDxsgBhmH6npizolpQerYMyDNYQMkqSWFFoQSjMMBTKfTIcP+Wgp2WZYdIDtC7g6LZWA2JjRN0iXjwG0D19But7vX1meUpI69xRBBWHRJCofHZfFsNPjxIAXXoOu6m9sqSB17DuoY20LaR/E38JgGnW7ZPekECFxW60i1PsDQdaen29JlKQOyNixx5PBZh+PYlLpVBqR4xNZDSHhNnRb9AFKXaB6NYBlR0Y6DOAIisgDDKfgcDbeMz3ZsSd2SCg/pDeyHmzkj3SSjqwQjImIYi8X8AlJyetINkIKfC43F41SplKlarVE8Hg99NuI7c9lRfgwbkI7IoEZHRikjRNc7/UFyvoZCpIDgIpv1Gj3x5NN0fOEBard2IgEkHk9EEh3S6Qyt3Vmm61evUDoz4mgpNiMfKSDMKMsVmp6do0cef8otJw+sdBIL2RJ7R1VYf7lSZUD6TRAXKy0OAsiWusuKU7vdoVq1whdWLGxQPBGesgzdIE3TaHxy2s9s9TWajbptHPHgMqONIZixiBu4aFxwMpUyfWpIyjJiugA8QVGOnWbTBvyYBEV3ul9HnbpNXfi7hiotisdj1JCzKBGPVllRjHq9SnEkL3ZKj8Xs6GFjUECqZBYZlTOthgjsiB+x+P3VQQSXVK9Vbd2wS8yEu6oMAkjNLSvom/ZKQDoi40L2YxjGfQNIp92mlsgcE32TCMm+nBem6oMA0vRjIbjYdrslUt5W6Dwk6oH7AiiJvnHL1Rtsu4UAN235qmdh9Q78Y2enGQk/iHI0mw2+L7v44eIN7g4EyNlz5zt+Ut9UUhMXvWNmIx5jiOXqfEmEna47ApCWACSR0Pq7LOeMsiR16jvt9cVF4KbqjaYApeHJZXWEG8iNT1IqlT70FtISE63Z3BHpfNpP2aTk9vleAFn3AwgW+U0uEnckbHguOzZBS9e+opXbN7lGpJr1xMV3aMlk6GCAU5U2C5TNZpmM+khW8kEAsuoHEFwsMi1Wuvx7H21yVoL60Mb6Cl24cIEeOrWoxLitWtbo6AhzAz3EjK4lkpSxXJbGJ6aY/PW7J91wTHtXggBkQ5mHSADqEhAH8+hWTI/NnaDHHjlNszMzSnUpCxC4uyiqvfj8vVXeLhjgXeI/h6WHjSAA2SJzmTim4kKsmo8VeN0UBZ+M13Q6bYob3jMzq7gIJUUBiJfrsX3KA4XwMhVrUtQtpFbtllOcBpQJtwW/rIdcHT7AUZUyMCAlVXLIViILjJjxbqmv3tHZQpJDDUjMLJsYtt2K214yVi+AbKqSQ7iOhAQEynYL0giEyK5SqaTph2P35Q46kMJiEICU3QpifT84kWBGyzEBbN3Bt+udDiVF2poSbqvTGV6XZbjrsTwwIIJZNvwAAgtB2sv1LIf1Cisgg/lmMiPU7nSGFg4Xll4TumwGYSFEPhqvk0mNGe1Oq9nNuuzcG9waAIGFwFpoSF0WA+Jc6XUdmsfvKqheGKqhXD5pNlyXcBFDwLRBtpZu3mZy5zW4WzxkJJMJNe2F5Y6P5SibG2c3vL9s4ro3JR8kIOuKU2Vf+cSJHCI7gWtbWDxNL/24QbmxcYV9N5IYpjO7szSEgQnTEGn8ZjHPk21/4mF072cQHYZiIWb5JMHNDg1JDq2ZbAdKuVyiJ59+np790Su2TNiJiEbRdfLtN1fo2jfv0PH5+X3W6KHbJFCXVVJ1WVAQ3E63nuUSF6DUVrMpYkhbiYtABwnhEkdGc6EDUq9WOEHBZNs7aQzZQelS8QgMEHxYW+H1DICmJdhlGV66TsTz8M1YkVPhIYg/ui4yNCcLDAqQepU0fx0ubfLYlutVwSCGSH9zKoBYbJ2kslz9u1Mnh91bjFhkRBKlIEwyH9/X8AqIV8fruvTYN9MCFxGAILgP+zCXE+q2C27WZHNo/ykFCcimKiBsIWDrIu2FW3HiIsMBiM4rm3GbtR0XDtLwyuW8ammLFLcmWBaCJU80PHCBcYjbgWDl3NaUSNgD4jyhtwIDRFL+oiog8LetbvfJcFsIYiGaG0xLN/YXgBBX7GNLXujQ0zYATeGaCoo2zgQKN8H1LJGWYoYF3Vrau1knzIHmcXTS9LcQ18qC52q5CiBbqhbCWZbgFvgzWvdRrwq6tdT6nrAzLcRCuN5+WxCC1F14FkJmswPK6au3b/Cf0acVeAsVKI4A2eqT8mItAA+xLTc+QROT056+Bq+3W6txCehKulMBRLkdCDWsXC5Hlz+5SB9dfD+UWdztOhnxVsuy1viXbizTG7/6NT334s+8WchOg1p90vdefuWwVL0WBiC+t0hrmuapfDIIIJqW9EQ+udwvUli0DY2NTyqQwhovE9ilvUHpTgWQkl+FJZMps9MvhODbbQNKp8nLaUC8w0vEgsnJcXZZnql2oyZ7vvZ/B7cGGbqThWyHBYiuwF3uqTeJ/3leeFLp1eWCnmEB4yWGGHyWFThSWpbsPfGQ7uZV5UnVCctCsMCCpdxxpTgCE++0eSOom8ti7iLSSsQdrwFaPa6ZLguup3/DtA0PEVlW/z0hsd2g3v/+KmEF9bz84HGVmy9vb9Pc/Al65bU3uJqLTZp2I5XJ0HZpkz6++B4rDClmGLt4sb8DC1oq/cA7jQaX+fvaqHuGFQogVfnBZ5QYrkgXccGnTj/Kyu3IDsN+AzO2Oj1Llz/+kCrVGrcGhUH5kL7CXSU9dtsj5UUM8blJZ4MUmkRUAGmRj6M20qmUYLll2cVoiD/3358H0EYEAFj8gbKwD9wIKQlgQJioeqsacMrbatm83tVCrLUkb9zN6wvPnjvvCxCLhKGmpWkpBgNK3ytWSQXpa5L7s8JtB0IfmNfdXVZ/Wcyl9G6XDEndBQuIXy5iFhjbXHpwbSnVdQYMFhJefcrg9FXlWAzED3O/pI3LGuDkhkEBUbYQBOcWd5+476ZCwEc1dWQ0a65RhxDQzc81KDemxkFgsXtJYRdQ50pvKUxAfPVnYS0BN8W7qci+80QetESZzGho5Xpd7p3P5sYUCotN7qDpb1GuE2fjUFkIbgI3Y+0VcQMQbgFbx2p1c4ESO3qDODqD45Rmprm1Wl1pdzDih9POLJduEyUL0RTvK0/qiHD+brUD8XqC3v8sEGumoVFua2ub/44tZDkh4A0gZjivyqsrg9K5HUkoFN8PcgeCipQ6pcDS8V67ozQ8xLp8mIAo9/jG5Goa0l4oEjGiQ7oteOXtEp089TD97vd/oLU7N2lVSD6fp0LxLvcLoyiYSae7s51kSdxq57TKJ/D5UCSsAW2gAHZ2bp5+8NxDdPzEA3R8YdE7AauUe75jvws8SEBAJjDVlbbK9m4AdatnoS8rmUzTmUe/x4LsZntrk9ZWblN+7Q4V8qtUKBSoIngK4gwAwmlynXaCO1yqNfPkCvThYnPm6UefFAAs0tz8SWFp4746HMGjEHecqsk2sRH6qocJSEX6xFHvHkuefcLVUp1PCuq4uBl0d2zdLTJ41llY07PHyXjqWapWK1S6W6DC+oqwnluUF48b+SKDMjk1RYsPPkyzx+bp2PwCgzDoSRKIH+BRcX9LB66HzQRhIQjsCypvSsjVQvtcfr/r2rWYNrXL2932VAA0L1zO4qkz9MwLWKeo0J1bSxz8F4Wr4/O5gszKOrpJCq0O9z6ld4fCYjEKQNTWRaz+LDQ7wB35Oa2hx38DVARnk22nODg//PhToa2pt1pNdoWOdayY4zqI0oZZJYd69tz5Gvk4HUiTDXNsIYM2zMXM9XMINvdUy1sixoR3Ijosu2kLiGu3ybbQWT00QOQoq76B014++6QZrLbkaaQ+l1U9WsgOu02fsUhZV34A8XWWb0O2A2ENghetLD5xyLsZYYUgtnvdUjfjCqjbxG8MwbihWDyilAi0mtakm999Q2PjEzSazXFVl8/4ReFOxBa95yeCYoekyxEWfXPpKvMfs1HD6A+K/bgeBSCraniY5ZCpyUm6/OlHdPWrzwVBWxDc4CSdOPkgTc4cozFZTDRTzCaDxEdlxOORHoCG9HartEkrt5doffU2lYp5TiDGZDOED7e4HgUgykHdupExQdZw09evfU1XvvicZ96x2VmaP3mKFh54iAEaG5vg3VCm9dQ5qFodHS79s+TnulAZKGys0Z3l72jt9k0qlUrM7NHnhWUAXrW0AcIDQOUoAMEKGKKzcv4KpWIdYlRYBIp1yLxKW1uC2F2i/352iWtWM7NztLD4oADoNE3DeiYm2UoAJFbuur9+5jP2oGKwIRg/ZH11mc+/wuqkuZM3TRPCkpFOWzUwJ6W7bGNrko/D3/wCUvMDiFVAbMtUERxiWi5GgZ3X6w26dfMGXbt2jTLpFFsP2DYE58hPTM1QVvIYk4/Uuy2eTkwbrB+sHiBsFtZFmlzi70JsGxGWMDM9zbUxK1vj/YOuG093g7rNLmNfR+z6dVkAZCqIDGY3Nda4/QdixZNKpUL5K58L9/YZFwfRhzsvgIF7QxzKiuQglov3MGlz1qL2tFnYYAa/JqygVtnmIiPqUdjPnsuN0biwvF72zRtygj3Wo0Y+mgv9ALLpxzd6jTP3ApQUAXWcn0OjWj6/QUtLS8Ld/ZOOzUyx5cC9nTrzGL9nZfkGg1DYWOHyPSoE2dERdpPTM1mZFel7fmvEGOya7WNamfwsefu0kDpFMNhHSyvShF+fmsoImeLYg6ru9W+v0rWrX1Puk4vc3QI3BKWn4e7m5rplGjOl1gOmPIYXC1GeuDE/DPftt958Tzy8dlD8oJenIPBiDwoOrkF/r1ldjtueiRhckSDGrUEd3sbdN4b84+y587+MwkJ85deBzs3eII7sCGdtpdO7VmV0QgWiu4XNubCY9/P5fgEp0SEa1rEWYVV895beYX0op8AVOjSG340SkPv2t9Z3QY11YwWnwrLRgeMR7a6BOAASqYXcvX9B2AXAkAnB3rN4GQR3ayxFCUjx/gBh1wpALlksAIzd45Z8ni2/GSUgYOu+Nu8cvBXI7MwCQC4DGPsquQPdWidqC1mTXzg9LG7ILKN0TABkm6qVGltpdIC/slDym4nG/Obqgou8KB5+IeQlIc8JmT+QDEuebG1ykHtPWbD6s+6xAvdg7HfgXPdLQv4t5F3BQS5FCkgPMHg4JeSHQl4X8hMhT0flzixA0hmzExG7o3RpAd1gHA4I2GLwmQTgfYAhQLgz6IdqAV3cLSkXhGTJ3GUFy8Em8J8LWQzNNUmSZq2b9A3GwfGTG0I+EPIvIR/h76pNDFEB0jtQdv5Cyp+EzAp5WchPpfU8QQFUivcRQ+mqYsEeA4Vs8itpBR8K+U/YKb8WgVcBifybFOqxntclUI8FZSkBDPi4r4VcFPKeBOBWlDFRo+jHd1L+ImRSWszL0npgRccivp5V6YIgHwu5Sgf4O/IaHewoyVkI+aPM1JC9vSbjD6xnJODvhEv9n4wFkE/Jx4/W3K+A3JswmbP1r1LQpPt9aT0A53mZzan6prYMxp9KK4A7+lK6p0M3NDq8Y0fm9ZA3ZXLwjJBXZeb2LNl34WMR7bJMRz+QCcZQ1N80Gp6B5OBdKWmZSr8gwXld8oK/Syu4LInaDg3Z+L8AAwC5zGYnR8jzIwAAAABJRU5ErkJggg==');
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 60px;
  left: 50%;
  margin: 0 -50px 0 -50px;
}

/* index.html */
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-height: 400px) {
  .button {
    padding: 5px;
  }
}